<!-- obas list -->
<p>Welcome Obafemi Faluyi</p>

<div class="inside-background">
    <div class="list">
        <ul class="Favorite food">
            <li class="item">Obas Favorite Food</li>


            <li class="item item-primary">Jollof Rice</li>
            <li class="item item-secondary">Pasta</li>
            <li class="item item-success">Yam and sauce</li>
            <li class="item item-danger">Steak</li>
            <li class="item item-warning">Chicken</li>
            <li class="item item-info">Fish</li>
            <li class="item item-light">Lasanga</li>
            <li class="item item-dark">drinks</li>
        </ul>
    </div>

    <!-- <mat-list>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
       </mat-list> -->

</div>